.app {
  width: 280px;

  @media ($tablet) {
    width: 300px;
  }
}

.app__slogan {
  display: none;

  @media ($tablet) {
    display: block;
    margin: 0;
    margin-bottom: 33px;
    padding: 0 30px;

    font-size: 40px;
    font-weight: 300;
    line-height: 47px;
    color: $app-text-color;
    text-align: center;
  }

  @media ($desktop) {
    margin-bottom: 52px;

    font-size: 50px;
    line-height: 59px;
  }
}

.app__link {
  margin-bottom: 34px;

  @media ($tablet) {
    margin-bottom: 48px;
  }

  @media ($desktop) {
    margin-bottom: 69px;
  }
}

.app__list {
  @include list;
  margin: 0 auto;
  margin-bottom: 14px;

  @media ($tablet) {
    margin-bottom: 28px;
  }

  @media ($desktop) {
    margin-bottom: 47px;
  }
}

.app__description {
  margin: 0;

  font-weight: 300;
  text-align: center;
  color: $app-text-color;

  @media ($tablet) {
    font-size: 18px;
  }
}
