.app__link {
  display: block;
  padding: 20px 35px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  color: $white;
  text-decoration: none;

  border: 3px solid $white;
  border-radius: 35px;

  &:hover,
  &:focus {
    color: $pink;

    background-color: $white;
  }

  &:active {
    color: rgba($pink, 0.3%);
  }
}

.app__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.app__description {
  margin: 0;

  font-weight: 300;
  text-align: center;
  color: #eaeaeb;
}
