.app {
  width: 280px;

  @include tablets() {
    width: 300px;
  }
}

.app__link {
  margin-bottom: 30px;
}

.app__list {
  @include list;
}

.app__description {
  margin: 0;

  font-weight: 300;
  text-align: center;
  color: #eaeaeb;
}
