.buttons {
  @include desktop() {
    display: flex;
    justify-content: space-between;
  }
}

.buttons__item {
  width: 280px;
  padding: 15px 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.9px;

  background-color: transparent;
  border-radius: 35px;

  transition: 0.3s;

  cursor: pointer;

  &--submit {
    margin-bottom: 12px;

    color: $submit-text-color;

    border: 3px solid $submit-decor-color;

    &:hover,
    &:focus {
      color: $submit-action-text-color;

      background-color: $submit-action-background-color;
    }

    &:active {
      color: rgba($submit-action-text-color, 0.3%);

      background-color: $submit-action-background-color;
    }

    @include tablet() {
      margin-bottom: 25px;
    }
  }

  &--reset {
    color: rgba($reset-text-color, 0.1%);

    border: 3px solid rgba($reset-decor-color, 0.1%);

    &:hover,
    &:focus {
      color: rgba($reset-action-text-color, 0.3%);

      border: 3px solid rgba($reset-action-background-color, 0.3%);
    }

    &:active {
      color: rgba($white, 0.3%);

      background-color: rgba($reset-action-background-color, 0.3%);
    }
  }

  @include tablet() {
    width: 260px;
  }

  @include desktop() {
    width: 184px;
    margin: 0;
  }
}
