.button {
  width: 280px;
  padding: 16px;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: $button-text-color;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $button-background-color;
  border: none;

  transition: 0.3s;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $button-action-background-color;
  }

  &:active {
    color: rgba($button-action-text-color, 0.3%);

    background-color: $button-action-background-color;
  }

  &:disabled {
    background-color: $button-disables-background-color;
  }

  &--margin {
    margin-bottom: 40px;
  }

  @include tablet() {
    width: 300px;
  }

  @include desktop() {
    &--show {
      width: 460px;
    }
  }
}
