.competition__header {
  padding-top: 45px;
  padding-right: 20px;
  padding-left: 20px;
}

.competition__description {
  margin: 0;

  line-height: 30px;
  text-align: center;

  @include tablet() {
    width: 545px;
    margin: 0 auto;

    font-size: 18px;
  }

  @include desktop() {
    width: 754px;
  }
}

.competition__hidden {
  display: none;

  @include tablet() {
    display: inline;
  }
}

.competition__footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 20px;

  @include tablet() {
    justify-content: space-between;
  }
}
