.competition__header {
  padding-top: 50px;
}

.competition__description {
  margin: 0;

  line-height: 30px;
  text-align: center;
}

.competition__footer {
  padding-top: 40px;
}

.competition__description-simbol {
  color: $pink;
}
