.contacts__text {
  margin: 0 auto;
  margin-bottom: 35px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @include tablet() {
    width: 575px;

    font-size: 40px;
    line-height: 40px;
  }

  @include desktop() {
    font-size: 50px;
    line-height: 50px;
  }
}

.contacts__list {
  @include list;

  @include tablet() {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__item {
  margin-bottom: 25px;

  text-align: center;

  @include tablet() {
    flex-basis: 300px;
    flex-grow: 1;
  }

  @include desktop() {
    &--position {
      order: 1;
    }
  }
}

.contacts__title {
  margin: 0;

  font-size: 18px;
}

.contacts__link {
  font-size: 24px;
  font-weight: 300;
  color: $contacts-link-text-color;
  text-decoration: none;
}
