.copyright__text {
  margin-right: 15px;

  line-height: 18px;

  @include desktop() {
    font-size: 18px;
  }
}

.copyright__link {
  height: 34px;

  @include desktop() {
    padding-top: 9px;
  }
}

.copyright__icon {
  fill: $copyright-icon-fill;

  &:hover,
  &:focus {
    fill: $copyright-icon-fill-hover;
  }

  &:active {
    fill: rgba($copyright-icon-fill-hover, 0.3%);
  }
}
