.data__list {
  @include desktop() {
    display: flex;
    justify-content: space-between;
  }
}

.data__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablets() {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &--position {
      flex-wrap: wrap;
    }
  }

  @include desktop() {
    &--position {
      margin: 0;
      flex-basis: 373px;
    }
  }
}

.data__label {
  padding-left: 22px;

  line-height: 30px;
  color: $form-label-text-color;

  text-transform: uppercase;

  @include tablets() {
    margin-right: 20px;
    padding: 0;

    &--order {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
      padding-left: 20px;
    }
  }
}

.data__input {
  width: 280px;
  padding: 20px 22px;
  box-sizing: border-box;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  @include tablets() {
    flex-grow: 1;
  }

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }
}
