.data__item {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.data__label {
  padding-left: 22px;

  line-height: 30px;
  color: $form-label-text-color;
}

.data__input {
  width: 280px;
  padding: 14px 22px;
  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }
}
