.data__list {
  @media ($desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.data__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  @media ($tablet) {
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 52px;

    &--contacts {
      flex-wrap: wrap;
      margin-bottom: 29px;
    }
  }

  @media ($desktop) {
    &--contacts {
      flex-basis: 373px;
      margin: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.data__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;

  line-height: 30px;
  color: $form-label-text-color;

  text-transform: uppercase;

  @media ($tablet) {
    margin: 0;
    margin-right: 19px;
    padding: 0;

    &--contacts {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
      padding-top: 9px;
      padding-left: 18px;
    }
  }
}

.data__input {
  width: 100%;
  min-height: 64px;
  padding: 15px 20px;
  box-sizing: border-box;

  font: inherit;
  font-size: 18px;
  line-height: 30px;
  color: inherit;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  transition: 0.3s;

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &--contacts {
    @media ($tablet) {
      background-image: linear-gradient(to left, $darkgray 60px, transparent 60px);
    }
  }

  @include placeholder() {
    color: $form-element-placeholder-color;
    opacity: 1;
  }
}

.data__icon {
  display: none;

  @media ($tablet) {
    position: absolute;
    top: 23px;
    right: 21px;

    display: block;
  }
}
