.data__list {
  @include desktop() {
    display: flex;
    justify-content: space-between;
  }
}

.data__item {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    display: flex;
    align-items: center;
    margin-bottom: 52px;

    &--contacts {
      flex-wrap: wrap;

      margin-bottom: 29px;
    }
  }

  @include desktop() {
    &--contacts {
      margin: 0;
      flex-basis: 373px;
    }
  }
}

.data__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;

  line-height: 30px;
  color: $form-label-text-color;

  text-transform: uppercase;

  @include tablet() {
    margin: 0;
    margin-right: 19px;
    padding: 0;

    &--contacts {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
      padding-top: 9px;
      padding-left: 20px;
    }
  }
}

.data__input {
  width: 280px;
  padding: 18px 20px;
  box-sizing: border-box;

  font: inherit;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  @include tablet() {
    flex-grow: 1;

    &--contacts {
      padding: 18px;

      background-image: linear-gradient(to right, $white 88%, $darkgray 88%);
    }
  }

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }
}
