.data__list {
  @include desktop() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.data__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  @include tablet() {
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 52px;

    &--contacts {
      flex-wrap: wrap;
      margin-bottom: 29px;
    }
  }

  @include desktop() {
    &--contacts {
      flex-basis: 373px;
      margin: 0;
    }
  }
}

.data__label {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;

  line-height: 30px;
  color: $form-label-text-color;

  text-transform: uppercase;

  @include tablet() {
    margin: 0;
    margin-right: 19px;
    padding: 0;

    &--contacts {
      flex-basis: 100%;
      order: 1;
      margin-right: 0;
      padding-top: 9px;
      padding-left: 18px;
    }
  }
}

.data__input {
  width: 100%;
  padding: 18px 20px;
  box-sizing: border-box;

  font: inherit;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  transition: 0.3s;

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }

  &--contacts {
    @include tablet() {
      padding: 18px;

      background-image: linear-gradient(to right, $white 88%, $darkgray 88%);
    }

    @include desktop() {
      background-image: linear-gradient(to right, $white 84%, $darkgray 84%);
    }
  }
}

.data__icon {
  display: none;

  @include tablet() {
    position: absolute;
    top: 22px;
    right: 4%;

    display: block;
  }

  @include desktop() {
    right: 21px;
  }
}
