.effect {
  display: none;

  @include tablet() {
    display: block;
  }
}

.effect__wrapper {
  width: 310px;
  margin-left: auto;

  @include desktop() {
    width: 570px;
  }
}

.effect__title {
  margin: 0;
  margin-bottom: 11px;
  padding-right: 105px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: $black;
}

.effect__description {
  margin: 0;
  margin-bottom: 10px;

  @include desktop() {
    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  color: $pink;
}
