.effect {
  display: none;

  @media ($tablet) {
    display: block;

    background-color: $effect-background-color;
  }

  @media ($desktop) {
    background-color: transparent;
  }
}

.effect__wrapper {
  display: flex;
  align-items: center;
}

.effect__icon {
  margin-right: auto;

  @media ($desktop) {
    flex-basis: 300px;
    height: 345px;
  }
}

.effect__about {
  flex-basis: 310px;
  padding-top: 12px;

  @media ($desktop) {
    flex-basis: 575px;
    padding-top: 47px;
  }
}

.effect__title {
  margin: 0;
  margin-bottom: 11px;
  padding-right: 105px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: $black;

  @media ($desktop) {
    margin-bottom: 21px;
  }
}

.effect__description {
  margin: 0;
  margin-bottom: 10px;

  @media ($desktop) {
    margin-bottom: 31px;

    font-size: 18px;
    line-height: 30px;
  }
}

.effect__link {
  color: $pink;

  @media ($desktop) {
    font-size: 18px;
    line-height: 30px;
  }
}
