.footer {
  &--hidden {
    display: none;

    @include tablet() {
      display: block;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet() {
    flex-direction: row;
  }
}

.footer__logo {
  margin-right: 68px;
  margin-bottom: 12px;
}

.footer__list {
  display: flex;
  justify-content: space-around;
  width: 188px;

  @include list;

  @include tablet() {
    margin-right: auto;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  text-align: center;
}

.copyright__text {
  margin-right: 11px;

  line-height: 18px;
}

.copyright__link {
  height: 34px;
}
