.footer__logo {
  padding-top: 35px;
}

.footer__list {
  margin: 0;
  padding: 0;
  padding-top: 35px;

  text-align: center;
  list-style: none;
}

.footer__copyright {
  padding-top: 35px;

  text-align: center;
}
