.footer {
  &--hidden {
    display: none;

    @include tablet() {
      display: block;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    align-items: flex-start;
    flex-direction: row;
  }
}

.footer__logo-link {
  display: block;
  margin-bottom: 32px;

  @include tablet() {
    margin-right: 68px;
    margin-bottom: 0;
  }

  @include desktop() {
    margin-right: 230px;
  }
}

.footer__logo {
  fill: $logo-footer-color;

  transition: 0.3s;

  &:hover,
  &:focus {
    fill: $logo-footer-action-color;
  }

  &:active {
    fill: rgba($logo-footer-color, 0.3%);
    opacity: 0.3;
  }

  &--element-decore {
    display: none;
  }

  @include desktop() {
    &--glasses {
      display: none;
    }

    &--element-decore {
      display: inline;
    }
  }
}

.footer__list {
  @include list;

  margin-bottom: 29px;

  @include tablet() {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  text-align: center;

  @include tablet() {
    padding-top: 12px;
  }

  @include desktop() {
    padding-top: 4px;
  }
}
