.footer {
  &--hidden {
    display: none;

    @include tablet() {
      display: block;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 203px;

  @include tablet() {
    flex-direction: row;
  }
}

.footer__logo-link {
  display: block;

  @include tablet() {
    margin-right: 68px;
    margin-bottom: 12px;
  }

  @include desktop() {
    margin-right: 230px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-around;
  width: 188px;

  @include list;

  @include tablet() {
    margin-right: auto;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;

  text-align: center;

  @include tablet() {
    padding-top: 7px;
  }
}
