.footer {
  &--hidden {
    display: none;

    @include tablets() {
      display: block;
    }
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @include tablets() {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
  }

  @include desktop() {
    width: 940px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-around;
  width: 200px;

  @include list;

  text-align: center;
}

.footer__copyright {
  display: flex;
  align-items: center;

  text-align: center;
}

.copyright__link {
  height: 34px;
}
