.form {
  display: flex;
  flex-wrap: wrap;

  background-image: linear-gradient(to bottom, #ffffff 20%, #f2f2f2 20%, #f2f2f2 50%, #ffffff 50%, #ffffff 62%, #f2f2f2 62%, #f2f2f2 78%, #ffffff 78%);

  @include tablet() {
    background-image: linear-gradient(to bottom, #ffffff);
  }

  @include desktop() {
    width: 940px;
    margin: 0 auto;
  }
}

.form__fieldset {
  width: 100%;
  padding: 40px 0;
  margin: 0 20px;

  border: none;

  @include tablet() {
    margin-bottom: 50px;
    padding: 40px 60px;

    border: 2px solid $fieldset-border-color;

    &--user {
      order: -3;
    }

    &--app {
      order: -2;
    }

    &--contacts {
      order: -1;
    }

    @include desktop() {
      margin-right: 0;
      margin-left: 0;

      &--user {
        flex-basis: 435px;
        margin-right: auto;
      }

      &--app {
        flex-basis: 435px;
        padding: 0;
      }
    }
  }

  &--user {
    padding-right: 0;
    padding-left: 0;
    border: none;
  }
}

.form__legend {
  margin: 0;
  padding: 0 15px;

  font: inherit;
  line-height: 18px;
  color: $legend-text-color;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;

    @include tablet() {
      display: block;
    }
  }

  &--margin {
    margin-bottom: 18px;
  }
}

.form__list {
  @include list;

  @include desktop() {
    &--achievement {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.form__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  @include desktop() {
    &--achievement {
      flex-basis: 260px;
      flex-grow: 1;
    }
  }
}

.form__label {
  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  width: 100%;
  min-height: 200px;
  padding: 18px;
  box-sizing: border-box;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }

  @include desktop() {
    min-height: 125px;
  }
}

.form__description {
  margin: 0;

  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.form__description-simbol {
  color: $pink;
}
