.form {
  display: flex;
  flex-direction: column;

  background-image: linear-gradient(to bottom, #ffffff 20%, #f2f2f2 20%, #f2f2f2 50%, #ffffff 50%, #ffffff 62%, #f2f2f2 62%, #f2f2f2 78%, #ffffff 78%);

  @include tablets() {
    background-image: linear-gradient(to bottom, #ffffff);
  }
}

.form__fieldset {
  padding: 40px 0;
  margin: 0 20px;


  border: none;

  @include tablets() {
    margin-bottom: 50px;

    border: 2px solid $fieldset-border-color;

    &--order-first {
      order: -3;
    }

    &--order-second {
      order: -2;
    }

    &--order-third {
      order: -1;
    }
  }

  &--border-none {
    border: none;
  }
}

.form__legend {
  margin: 0;
  padding: 0 15px;

  font: inherit;
  line-height: 18px;
  color: $legend-text-color;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;

    @include tablets() {
      display: block;
    }
  }

  &--margin {
    margin-bottom: 18px;
  }
}

.form__list {
  @include list;
}

.form__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;

  @include tablets() {
    padding-left: 120px;
  }
}

.form__textarea {
  width: 280px;
  min-height: 200px;
  padding: 18px;
  box-sizing: border-box;

  border: 2px solid $form-element-decor-color;
  border-radius: 2px;

  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $form-element-action-color;

    outline: none;
  }

  &--active {
    border: 2px solid $form-element-modify-color;
  }

  &::placeholder {
    font-size: 18px;
    line-height: 30px;
    color: $form-element-placeholder-color;
  }
}
