.form__fieldset {
  margin: 0;
  padding: 40px 0;

  border: none;

  &--gray {
    background-color: #f2f2f2;
  }
}

.form__legend {
  margin: 0;
  margin-bottom: 35px;

  font: inherit;
  line-height: 18px;
  color: $pink;
  text-align: center;
  text-transform: uppercase;

  &--hidden {
    display: none;
  }

  &--margin {
    margin-bottom: 18px;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.form__item {
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  padding-left: 70px;

  font-size: 18px;
  line-height: 30px;
}

.form__textarea {
  width: 280px;
  min-height: 200px;
  padding: 20px;
  box-sizing: border-box;

  border: 2px solid #e5e5e5;
  border-radius: 2px;

  resize: none;

  &:hover,
  &:focus {
    border: 2px solid $blue;

    outline: none;
  }

  &--active {
    border: 2px solid $pink;
  }
}

::placeholder {
  font-size: 18px;
  line-height: 30px;
  color: $blue;
}
