.header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;

  @include retina() {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 700px auto;
  }

  @include tablet() {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @include retina() {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

.header__wrapper {
  @include laptop-min() {
    width: 940px;
    margin: 0 auto;
  }
}

.header__logo-link {
  display: block;

  width: 75px;

  @include tablet() {
    width: 146px;
  }
}

.header__logo {
  fill: $logo-header-color;

  &--text {
    @include tablet() {
      display: none;
    }
  }

  &--glasses {
    display: none;

    @include tablet() {
      display: block;
    }

    @include laptop-min() {
      display: none;
    }
  }

  &--all {
    display: none;

    @include laptop-min() {
      display: block;
    }
  }

  &:hover,
  &:focus {
    fill: $logo-header-action-color;
  }

  &:active {
    fill: rgba($logo-header-color, 0.3%);
  }
}
