.header {
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.header__wrapper {
  @include laptop-min() {
    width: 940px;
    margin: 0 auto;
  }
}
