.information {
  background-image: linear-gradient(-6deg, $gray 76%, $white 0%);
}

.information__header {
  padding-top: 43px;
}

.information__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;

  @include tablet() {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 40px;

    &--displaced {
      padding: 0 115px;
    }
  }

  @include desktop() {
    font-size: 50px;
    line-height: 50px;
  }
}

.information__list {
  @include list;
  padding-top: 80px;

  @include tablet() {
    padding-bottom: 0;
  }

  @include desktop() {
    display: flex;
    justify-content: space-around;

    background-image: none;
  }
}

.information__item {
  position: relative;

  text-align: center;

  @include tablet() {
    width: 310px;
    margin-left: auto;
    padding-bottom: 0;

    text-align: left;
  }

  @include desktop() {
    width: 245px;
    margin-left: 0;

    text-align: center;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 18px;

  @include desktop() {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
  }
}

.information__description {
  margin: 0;
  margin-bottom: 30px;

  @include desktop() {
    font-size: 18px;
    line-height: 30px;
  }
}

.information__picture {
  display: none;
  padding-top: 10px;

  &--active {
    display: block;
    height: 278px;

    overflow: hidden;
  }
}

.information__footer {
  padding: 100px 0;
}
