.information {
  position: relative;

  background-image: linear-gradient(-6deg, $gray 76%, $white 0%);

  @include desktop() {
    background-image: linear-gradient(-6deg, $gray 59%, $white 0%);
  }

  &::after {
    content: "";

    display: block;
    height: 288px;

    background-image: url("../../img/iphone-screen-mobile@1x.png");
    background-position: 50% 10px;
    background-repeat: no-repeat;
  }
}

.information__header {
  padding-top: 43px;

  @include tablet() {
    padding-top: 50px;
  }

  @include desktop() {
    padding-top: 69px;
  }
}

.information__text {
  margin: 0;
  margin-bottom: 35px;

  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;

  @include tablet() {
    margin-bottom: 0;

    font-size: 40px;
    line-height: 47px;

    &--displaced {
      padding: 0 115px;
    }
  }

  @include desktop() {
    font-size: 50px;
    line-height: 59px;
  }
}

.information__list {
  @include list;
  padding-top: 80px;

  @include tablet() {
    position: relative;

    padding-top: 123px;
    padding-bottom: 9px;
  }

  @include desktop() {
    display: flex;
    justify-content: space-around;

    background-image: none;
  }
}

.information__item {
  text-align: center;

  @include tablet() {
    width: 310px;
    margin-left: auto;
    padding-bottom: 0;

    text-align: left;
  }

  @include desktop() {
    width: 245px;
    margin-left: 0;

    text-align: center;
  }
}

.information__title {
  margin: 0;
  margin-bottom: 13px;

  font-size: 18px;

  @include desktop() {
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
  }
}

.information__description {
  margin: 0;
  margin-bottom: 30px;

  @include tablet() {
    margin-bottom: 33px;
  }

  @include desktop() {
    font-size: 18px;
    line-height: 30px;
  }
}

.information__footer {
  padding-top: 96px;
  padding-bottom: 82px;
}
