.intro {
  width: 320px;
  margin: 0 auto;
  padding-top: 420px;

  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: 0 106px;
  background-repeat: no-repeat;

  @include retina() {
    background-image: url("../img/iphone-hand-mobile@2x.png");
    background-size: 258px auto;
  }

  @include tablet() {
    width: 640px;
    padding-top: 91px;
    box-sizing: border-box;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-position: -30px 72px;

    @include retina() {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }
  }

  @include desktop() {
    width: 940px;
    padding-top: 111px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 16px 101px;

    @include retina() {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }
  }

  &--inner {
    padding-top: 25px;
    padding-bottom: 52px;

    background-image: none;

    @include tablet() {
      padding-top: 69px;
      padding-bottom: 110px;
    }

    @include desktop() {
      padding-top: 67px;
      padding-bottom: 71px;
    }
  }

  &--competition {
    @include tablet() {
      padding-bottom: 81px;
    }

    @include desktop() {
      padding-bottom: 101px;
    }
  }
}

.intro__title {
  margin: 0;
  padding: 0 10px;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $intro-text-color;
  text-align: center;

  @include tablet() {
    width: 620px;
    margin: 0 auto;
    padding: 0;

    font-size: 50px;
    line-height: 59px;
  }

  &--competition {
    @include desktop() {
      width: 754px;
    }
  }

  &--photo {
    margin-bottom: 30px;
  }
}

.intro__download {
  margin: 0 auto;
  padding-bottom: 30px;

  @include tablet() {
    margin: 0;
    padding-bottom: 110px;
    padding-left: 10px;
  }

  @include desktop() {
    padding-bottom: 122px;
    padding-left: 0;
  }
}
