.intro-inner {
  min-height: 237px;

  @include tablet() {
    min-height: 395px;
  }
}

.intro-inner__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $intro-text-color;
  text-align: center;

  @include tablet() {
    width: 620px;
    margin: 0 auto;

    font-size: 50px;
    line-height: 50px;
  }

  &--width {
    @include desktop() {
      width: 754px;
    }
  }
}
