.intro {
  min-height: 462px;
  background: url("../../img/iphone-hand-mobile@1x.png") 0 176px no-repeat, url("../../img/bg-back-mobile@1x.jpg") 0 0 no-repeat;
  background-color: $blue;
}

.intro__download {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 490px;

  box-sizing: border-box;
}
