.intro {
  padding-top: 422px;
  padding-right: 20px;
  padding-left: 20px;

  @include tablet() {
    padding-top: 100px;
  }

  @include laptop-min() {
    padding-right: 0;
    padding-left: 0;
  }

  &--inner, {
    padding-top: 30px;

    @include tablet() {
      padding-top: 75px;
    }
  }
}

.intro__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $intro-text-color;
  text-align: center;

  @include tablet() {
    width: 620px;
    margin: 0 auto;

    font-size: 50px;
    line-height: 50px;
  }

  &--width {
    @include desktop() {
      width: 754px;
    }
  }
}
