.intro {
  padding-top: 420px;
  padding-right: 20px;
  padding-left: 20px;

  @include tablet() {
    padding-top: 91px;
  }

  @include laptop-min() {
    padding-top: 113px;
    padding-right: 0;
    padding-left: 0;
  }

  &--inner, {
    padding-top: 25px;
    padding-bottom: 52px;

    @include tablet() {
      padding-top: 69px;
      padding-bottom: 81px;
    }
  }
}

.intro__title {
  margin: 0;

  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  color: $intro-text-color;
  text-align: center;

  @include tablet() {
    width: 620px;
    margin: 0 auto;

    font-size: 50px;
    line-height: 59px;
  }

  &--width {
    @include desktop() {
      width: 754px;
    }
  }
}

.intro__download {
  padding-bottom: 30px;

  @include tablet() {
    padding-bottom: 110px;
  }

  @include laptop-min() {
    padding-bottom: 122px;
  }
}
