.main-nav {
  position: relative;

  background-color: rgba($header-background-color, 0.3%);
}

.main-nav__wrapper {
  @include laptop-min() {
    display: flex;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 42px;
  }
}

.main-nav__menu {
  padding: 20px;

  @include tablet() {
    padding-top: 26px;
    padding-bottom: 42px;
  }

  @include laptop-min() {
    margin-right: auto;
    padding: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 30px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  @include tablet() {
    top: 25px;
  }

  @include laptop-min() {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 5px;
  right: 0;

  width: 50px;
  height: 4px;

  background-color: $header-icon-color;
  box-shadow: 0 10px 0 0 $header-icon-color, 0 20px 0 0 $header-icon-color;
}

.main-nav--closed .main-nav__toggle:hover::before,
.main-nav--closed .main-nav__toggle:focus::before {
  background-color: $header-icon-action-color;
  box-shadow: 0 10px 0 0 $header-icon-action-color, 0 20px 0 0 $header-icon-action-color;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: rgba($header-icon-action-color, 0.3%);
  box-shadow: 0 10px 0 0 rgba($header-icon-action-color, 0.3%), 0 20px 0 0 rgba($header-icon-action-color, 0.3%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 13px;
    right: 0;

    width: 30px;
    height: 5px;

    background-color: $header-icon-color;
    border-radius: 10px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:focus::before,
.main-nav--opened .main-nav__toggle:hover::after,
.main-nav--opened .main-nav__toggle:focus::after {
  background-color: $header-icon-action-color;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: rgba($header-icon-action-color, 0.3%);
}

.main-nav--opened .main-nav__wrapper {
  background-color: $nav-background-color;
}

.main-nav--closed .main-nav__list {
  @include laptop-max() {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  @include laptop-max() {
    display: block;
  }
}
