.main__price {
  padding-top: 117px;
  padding-bottom: 45px;

  @media ($tablet) {
    padding-top: 102px;
    padding-bottom: 30px;
  }

  @media ($desktop) {
    padding-top: 176px;
    padding-bottom: 56px;
  }
}

.main__contacts {
  padding-top: 45px;
  padding-bottom: 19px;

  @media ($tablet) {
    padding-bottom: 0;
  }

  @media ($desktop) {
    padding-top: 67px;
  }
}

.main__competition {
  margin-bottom: 13px;

  @media ($tablet) {
    margin-bottom: 50px;
  }

  @media ($desktop) {
    margin-bottom: 0;
  }
}
