.main-nav {
  background-color: $nav-background-color;

  @include desktop() {
    display: flex;
  }
}

.main-nav__close {
  background-color: transparent;
  border: none;

  cursor: pointer;

  @include desktop() {
    display: none;
  }
}

.main-nav__close-icon {
  fill: $header-icon-color;

  &:hover {
    fill: $header-icon-action-color;
  }

  &:active {
    fill: rgba($header-icon-action-color, 0.3%);
  }
}
