.main-nav {
  position: relative;

  background-color: rgba($header-background-color, 0.3%);
}

.main-nav__wrapper {
  @include laptop-min() {
    display: flex;
    align-items: flex-start;
    width: 940px;
    margin: 0 auto;
    padding-top: 26px;
    padding-bottom: 35px;
  }
}

.main-nav__menu {
  padding: 21px;

  @include tablet() {
    padding-top: 25px;
    padding-bottom: 46px;
  }

  @include laptop-min() {
    margin-right: auto;
    padding: 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 16px;
  right: 17px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 30px;

  background-color: transparent;

  cursor: pointer;
  border: none;

  @include tablet() {
    top: 40px;
    right: 16px;
  }

  @include laptop-min() {
    display: none;
  }
}
