.main__price {
  padding-bottom: 40px;
  padding-top: 90px;
}

.main__contacts {
  padding-top: 40px;
}

.main__intro-inner {
  padding-top: 100px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}
