.main__price {
  padding-top: 92px;
  padding-bottom: 45px;

  @include tablet() {
    padding-top: 102px;
    padding-bottom: 30px;
  }

  @include desktop() {
    padding-top: 173px;
    padding-bottom: 56px;
  }
}

.main__contacts {
  padding-top: 45px;
}
