.map {
  position: relative;

  min-height: 219px;

  overflow: hidden;

  @include tablet() {
    min-height: 363px;
  }
}

.map__img {
  position: absolute;
  bottom: 0;
  left: 50%;

  transform: translateX(-50%);
}
