.menu-list {
  @include list;

  text-align: center;

  border-bottom: 1px solid $menu-decor-color;

  @include desktop() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 621px;
    padding-top: 18px;

    border: none;
  }
}

.menu-list__item {
  padding: 16px 0;

  box-shadow: 0 -1px 0 0 #485461, 0 -2px 0 0 $black;

  @include desktop() {
    display: flex;
    padding: 0;

    border: none;
    box-shadow: none;
  }
}

.menu-list__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  color: $menu-text-color;
  text-decoration: none;
  text-transform: uppercase;

  transition: 0.3s;

  @include desktop() {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    &--active {
      padding-bottom: 10px;

      border-bottom: 2px solid $white;
    }
  }
}

.menu-list__link[href]:hover,
.menu-list__link[href]:focus {
  color: $menu-text-action-color;
}

.menu-list__link[href]:active {
  color: rgba($menu-text-action-color, 0.3%);

  @include desktop() {
    color: rgba($menu-text-color, 0.3%);
  }
}
