.menu-burger {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.menu-burger__icon {
  fill: #ffffff;

  &:hover {
    fill: $pink;
  }

  &:active {
    fill: rgba($pink, 0.3%);
  }
}
