.menu-list {
  @include list;

  text-align: center;

  border-bottom: 1px solid $menu-decor-color;

  @include laptop-min() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 630px;

    border: none;
  }
}

.menu-list__item {
  padding: 16px 0;

  box-shadow: 0 -1px 0 0 #485461, 0 -2px 0 0 #000000;

  @include laptop-min() {
    display: flex;
    padding: 0;

    border: none;
    box-shadow: none;
  }
}

.menu-list__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: $menu-text-color;
  letter-spacing: 1.4px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $menu-text-action-color;
  }

  &:active {
    color: rgba($menu-text-action-color, 0.3%);
  }

  @include laptop-min() {
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
  }
}
