.menu-list {
  @include list;

  text-align: center;

  border-bottom: 1px solid $menu-decor-color;

  @include desktop() {
    display: flex;
  }
}

.menu-list__item {
  padding: 16px 0;

  border-top: 1px solid #485461;
  box-shadow: 0 -1px 0 0 $menu-decor-color;

  @include desktop() {
  padding: 0;
  }
}

.menu-list__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  color: $menu-text-color;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $menu-text-action-color;
  }

  &:active {
    color: rgba($menu-text-action-color, 0.3%);
  }
}
