.modal {
  padding-top: 40px;

  box-shadow: 0 9px 25px 5px #e2e2e2;
}

.modal__title {
  margin: 0;
  margin-bottom: 35px;

  font-size: 18px;
  font-weight: 700;
  color: $modal-title-color;
  text-align: center;
}

.modal__description {
  margin: 0;
  margin-bottom: 40px;

  text-align: center;
}

.modal__button {
  margin: 0;
  padding: 50px 20px;

  background-color: $gray;
}
