.modal {
  position: fixed;
  top: 21%;
  left: 0;
  right: 0;

  background-color: $white;

  box-shadow: 0 6px 17px 4px $darkgray;

  @include tablet() {
    top: 9%;

    width: 460px;
    margin: 0 auto;
  }

  @include desktop() {
    width: 780px;
  }
}

.modal-error {
  display: none;
  padding-top: 40px;
  padding-bottom: 11px;


  @include desktop() {
    background-image: linear-gradient(to bottom, $white 57%, $gray 57%);
  }
}

.modal-show {
  display: none;
  padding-top: 14px;
  padding-bottom: 12px;

  background-image: linear-gradient(to bottom, $white 57%, $gray 57%);

  @include desktop() {
    padding-top: 41px;
  }
}

.modal__wrapper {
  width: 280px;
  margin: 0 auto;

  @include tablet() {
    width: 320px;

    text-align: center;
  }

  @include desktop() {
    width: 410px;

    &--show {
      width: 460px;
    }
  }
}

.modal__title {
  margin: 0;
  margin-bottom: 26px;

  font-size: 18px;
  font-weight: 700;
  color: $modal-title-color;
  text-align: center;

  @include tablet() {
    margin-bottom: 21px;
    padding: 0 30px;

    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  margin: 0;
  margin-bottom: 38px;

  text-align: center;

  @include tablet() {
    font-size: 18px;
    line-height: 24px;
  }

  @include desktop() {
    margin-bottom: 110px;
  }

  &--show {
    margin-bottom: 82px;

    @include desktop() {
      margin-bottom: 88px;
    }
  }
}
