.page {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: $main-font;
  color: $main-text-color;
}

.page__footer {
  padding-top: 36px;

  @include tablet() {
    padding-bottom: 40px;
  }

  @include desktop() {
    padding-top: 70px;
    padding-bottom: 75px;
  }
}
