.page {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: $main-font;
  color: $main-text-color;
}

.page__footer {
  // padding: 42px 0;

  // &--competition {
  //   padding-top: 52px;
  // }

  @include tablet() {
    padding: 37px 0;
  }

  @include desktop() {
    padding: 72px 0;
  }
}
