.photo-editor {
  background-color: #f2f2f2;
}

.photo-editor__form {
  padding-top: 20px;
  padding-bottom: 40px;
}

.photo-editor__filter {
  text-align: center;
}

.photo-editor__buttons {
  margin: 0;
}
