.photo-editor {
  background-color: $photo-editor-background-color;

  @include desktop() {
    width: 940px;
    margin: 0 auto;
  }
}

.photo-editor__wrapper {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet() {
    display: flex;
    justify-content: space-between;
  }

  @include desktop() {
    padding: 57px 60px 57px 80px;
    box-sizing: border-box;
  }
}

.photo-editor__source-photo {
  @include tablet() {
    flex-basis: 300px;
  }
}

.photo-editor__interface {
  padding-top: 33px;

  @include tablet() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 300px;
  }

  @include desktop() {
    flex-basis: 410px;
  }
}

.photo-editor__filter {
  position: relative;
  padding-top: 51px;

  &::after {
    content: "";

    position: absolute;
    right: -25px;
    left: -25px;

    width: auto;
    height: 1px;

    background-color: rgba($blue, 0.1%);
  }
}

.photo-editor__label {
  @include tablet() {
    display: flex;
    align-items: center;
  }
}

.photo-editor__control {
  position: absolute;

  cursor: pointer;

  &--crop {
    top: 0;
    left: 35px;
  }

  &--fill {
    top: 3px;
    left: 114px;
  }

  &--contrast {
    top: 6px;
    right: 45px;
  }

  @include tablet() {
    flex-basis: 54px;
    text-align: center;
  }
}

.photo-editor__icon {
  fill: rgba($photo-editor-icon-color, 0.3%);

  &:hover {
    fill: rgba($photo-editor-icon-color, 0.5%);
  }

  &--active {
    fill: $photo-editor-icon-active-color;
  }
}

.photo-editor__buttons {
  margin: 0;
  padding-top: 40px;
}
