.photo-content__item {
  margin-bottom: 20px;
}

.photo-content__item--margin {
  margin: 0;
}

.photo-content__header {
  padding: 45px 0;
}

.photo-content__description {
  margin: 0;

  line-height: 30px;
  text-align: center;
}

.photo-content__footer {
  padding: 45px 0;
}
