.photo-content__wrapper {
  @include tablets() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.photo-content__item {
  margin-bottom: 20px;

  background-color: $photo-background-color;

  @include tablets() {
    flex-basis: 300px;
  }
}

.photo-content__item-panorama {
  margin-bottom: 20px;

  background-color: $white;
}

.photo-content__header {
  padding: 45px 20px;
}

.photo-content__description {
  width: 252px;
  margin: 0 auto;

  line-height: 30px;
  text-align: center;

  @include tablets() {
    width: 500px;
    font-size: 18px;
  }

  @include desktop() {
    width: 585px;
  }
}

.photo-content__footer {
  padding: 45px 20px;
}
