.photo-editor {
  background-color: $photo-editor-background-color;

  @include desktop() {
    width: 940px;
    margin: 0 auto;
  }
}

.photo-editor__wrapper {
  padding-top: 20px;
  padding-bottom: 40px;

  @include tablet() {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @include desktop() {
    padding: 57px 60px 57px 80px;
    box-sizing: border-box;
  }
}

.photo-editor__source-photo {
  @include tablet() {
    flex-basis: 300px;
    height: 400px;
  }
}

.photo-editor__interface {
  padding-top: 33px;

  @include tablet() {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 289px;
    padding: 0;
  }

  @include desktop() {
    flex-basis: 410px;
  }
}

.photo-editor__filter {
  position: relative;
  padding-top: 51px;

  @include tablet() {
    padding: 0;
  }
}

.photo-editor__label {
  &::after {
    content: "";

    position: absolute;
    right: -20px;
    bottom: -34px;
    left: -20px;

    width: auto;
    height: 1px;

    background-color: rgba($blue, 0.1%);

    @include tablet() {
      right: 0;
      bottom: -16px;
      left: 15px;
    }
  }

  @include tablet() {
    position: relative;

    display: flex;
    align-items: center;
    margin-bottom: 31px;
  }
}

.photo-editor__control {
  position: absolute;

  cursor: pointer;

  &--crop {
    top: 0;
    left: 35px;
  }

  &--fill {
    top: 3px;
    left: 114px;
  }

  &--contrast {
    top: 6px;
    right: 45px;
  }

  @include tablet() {
    position: static;

    flex-basis: 54px;
    text-align: center;
  }
}

.photo-editor__icon {
  fill: rgba($photo-editor-icon-color, 0.3%);

  &:hover {
    fill: rgba($photo-editor-icon-color, 0.5%);
  }

  &--crop {
    fill: $photo-editor-icon-active-color;

    @include tablet() {
      width: 25px;
      height: 22px;
      padding-top: 7px;
    }

    @include desktop() {
      width: 46px;
      height: 45px;
    }
  }

  &--fill {
    @include tablet() {
      width: 24px;
      height: 22px;
      padding-top: 12px;
      padding-left: 3px;

      fill: $photo-editor-icon-active-color;
    }

    @include desktop() {
      width: 49px;
      height: 45px;
    }
  }

  &--contrast {
    @include tablet() {
      width: 17px;
      height: 17px;
      padding-top: 6px;
      padding-left: 7px;

      fill: $photo-editor-icon-active-color;
    }

    @include desktop() {
      width: 33px;
      height: 33px;
    }
  }
}

.photo-editor__buttons {
  margin: 0;
  padding-top: 40px;

  text-align: center;
}
