.post {
  display: flex;
  flex-direction: column;
}

.post__link {
  position: relative;

  &--panorama {
    width: 320px;
    margin: 0 auto;

    @include tablet() {
      width: 660px;
    }

    @include desktop() {
      width: 960px;
    }

    @include large-desktop() {
      width: 1200px;
    }
  }
}

.post__hit {
  position: absolute;
  right: 20px;

  width: 140px;
  padding: 6px 0;

  font-size: 12px;
  font-weight: 700;
  color: $white;
  text-align: center;
  text-transform: uppercase;

  background-color: $pink;

  @include tablet() {
    top: 57px;
  }

  @include desktop() {
    top: 53px;
    right: 10px;
  }

  @include large-desktop() {
    right: 130px;
  }
}

.post__source-photo {
  display: block;
  flex-basis: 100%;
}

.post__photo {
  display: block;
  width: 100%;
  height: auto;

  &--panorama {
    @include tablet() {
      height: 509px;
    }

    @include desktop() {
      height: 506px;
    }
  }
}

.post__description {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0;
  padding: 18px;

  @include tablet() {
    min-height: 105px;
    padding: 24px 32px 25px 28px;
  }

  &--panorama {
    background-color: $post-background-color;

    @include tablet() {
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 80px;
      margin-bottom: 30px;
      padding: 24px 28px 15px 28px;
    }

    @include desktop() {
      min-height: 55px;
      padding: 24px 31px 15px 28px;
    }
  }
}

.post__author-name {
  font-style: normal;
  font-weight: 700;

  &--panorama {
    @include tablet() {
      order: 1;
      margin-right: auto;
    }
  }
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__comment {
  margin: 0;
  margin-bottom: 9px;

  &--panorama {
    @include tablet() {
      order: 3;
    }
  }
}

.post__like {
  margin: 0;
  margin-top: auto;

  @include tablet() {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  &--panorama {
    @include tablet() {
      order: 2;
    }
  }
}

.post__icon {
  display: inline-block;
  margin-right: 14px;
  vertical-align: middle;

  fill: $pink;

  @include tablet() {
    margin: 0;
  }

  &--panorama {
    @include tablet() {
      margin-right: 0;
      margin-left: 18px;
    }
  }
}

.post__like-text {
  font-size: 12px;
  color: $post-like-text-color;
  text-transform: uppercase;
}
