.post__source-photo {
  display: block;
}

.post__description {
  margin: 0;
  padding: 20px 18px;

  background-color: $post-background-color;
}

.post__author-name {
  font-style: normal;
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__comment {
  margin: 0;
  margin-bottom: 15px;
}

.post__like {
  margin: 0;
  padding-left: 32px;

  font-size: 12px;
  color: $post-like-text-color;
  text-transform: uppercase;
}
