.post {
  display: flex;
  flex-direction: column;
}

.post__source-photo {
  display: block;
  flex-basis: 100%;
}

.post__photo {
  display: block;
  width: 100%;
  height: auto;
}

.post__description {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 0;
  margin-bottom: 20 px;
  padding: 20px 18px 0 18px;

  &--panorama {
    background-color: $post-background-color;
  }
}

.post__author-name {
  font-style: normal;
  font-weight: 700;
}

.post__time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__comment {
  margin: 0;
  margin-bottom: 15px;
}

.post__like {
  margin: 0;
  margin-top: auto;
  padding-left: 32px;

  font-size: 12px;
  color: $post-like-text-color;
  text-transform: uppercase;
}
