.price {
  background-image: linear-gradient(-5deg, $gray 95%, $white 0%);

  @include tablet() {
    background-image: linear-gradient(-4deg, $gray 86%, $white 0%);
  }
}

.price__toggles {
  margin: 0;

  text-align: center;
}
