.reviews__list {
  margin-bottom: 32px;
  padding-top: 42px;

  @include desktop() {
    width: 690px;
    margin: 0 auto;
  }
}

.reviews__item {
  display: none;
  margin: 0;

  text-align: center;

  &--active {
    display: block;
  }

  @include tablet() {
    &--active {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}

.reviews__author-info {
  display: none;

  @include tablet() {
    display: block;
    margin: 0;
  }

  @include desktop() {
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 13px;

  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @include tablet() {
    margin-bottom: 10px;

    font-size: 20px;
  }

  @include desktop() {
    font-size: 24px;
  }
}

.reviews__quote {
  margin: 0;

  line-height: 30px;

  @include tablet() {
    margin-bottom: 40px;

    font-size: 18px;
  }
}

.reviews__bullets {
  margin-bottom: 40px;
}
