.scale__slider {
  position: relative;

  display: block;
  width: 240px;
  height: 2px;
  margin: 33px auto;

  background-color: $blue;

  &--hidden {
    display: none;

    @include tablet() {
      display: block;
    }
  }

  @include tablet() {
    width: 202px;
    margin: 19px auto;
  }

  @include desktop() {
    width: 288px;
    margin: 6px 30px 16px 38px;
  }
}

.scale__toggle {
  position: absolute;
  top: -7px;

  width: 11px;
  height: 11px;

  background-color: $white;
  border: 2px solid $pink;
  border-radius: 50%;

  transition: 0.2s;

  cursor: pointer;

  &--crop {
    right: 14%;

    @include tablet() {
      right: 21%;
    }

    @include desktop() {
      right: 70%;
    }
  }

  &--fill {
    right: 80%;

    @include tablet() {
      right: 81%;
    }

    @include desktop() {
      right: 9%;
    }
  }

  &--contrast {
    right: 50%;

    @include tablet() {
      right: 46%;
    }

    @include desktop() {
      right: 39%;
    }
  }

  &:hover,
  &:active {
    background-color: $pink;
  }
}
