.table {
  margin-bottom: 40px;
}

.table__item {
  background-color: $white;
}

.table__cell-header {
  text-align: center;

  background-color: $blue;
}

.table__cell {
  line-height: 30px;
  color: $white;
  text-transform: uppercase;

  &--tariff {
    font-size: 18px;
    font-weight: 700;
  }

  &--cost {
    margin: 0;

    font-size: 24px;
    font-weight: 300;
  }
}

.table__cell-option {
  line-height: 30px;
  text-transform: uppercase;
}
