.tariff-selection {
  width: 840px;
  margin-bottom: 40px;

  transform: translateX(-280px);
}

.tariff-selection__item {
  background-color: $white;
}

.tariff-selection__cell-header {
  text-align: center;

  background-color: $blue;
}

.tariff-selection__cell {
  line-height: 30px;
  color: $white;
  text-transform: uppercase;

  &--tariff {
    font-size: 18px;
    font-weight: 700;
  }

  &--cost {
    margin: 0;

    font-size: 24px;
    font-weight: 300;
  }
}

.tariff-selection__cell-option {
  padding-left: 25px;

  line-height: 30px;
  text-transform: uppercase;
}
