// config
@import "config/variables.scss";
@import "config/mixins.scss";
@import "config/fonts.scss";
@import "config/scaffolding.scss";

// blocks header
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/logo.scss";
@import "blocks/menu-burger.scss";
@import "blocks/main-nav.scss";
@import "blocks/menu-list.scss";

// blocks index.html
@import "blocks/intro.scss";
@import "blocks/app.scss";
@import "blocks/link.scss";
@import "blocks/information.scss";
@import "blocks/reviews.scss";
@import "blocks/price.scss";
@import "blocks/table.scss";
