// Миксин для медиавыражений
@mixin mobile-tablets {
  @media screen and (max-width: $mobile-tablets-width-only) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// Миксин для декоративных кругов
@mixin circle($width, $color) {
  width: $width;
  height: $width;

  background-color: $color;
  border-radius: $width/2;
}

@mixin list {
  margin: 0;
  padding: 0;

  list-style: none;
}
